button {
  padding: 16px 32px;
}

.button-blue {
  background-color: dodgerblue;
  color: white;
  transition: all 0.5s ease-out;
}

.button-blue-outline {
  border: 1px solid dodgerblue;
  color: dodgerblue;
  transition: all 0.5s ease-out;
}

.button-blue-outline:hover {
  background-color: dodgerblue;
  color: white;
}
